* {
    margin: 0;
    padding: 0;
}
@font-face { 
    font-family: gilroy; src: url('../assets/fonts/Gilroy-Light.otf'); 
} 
@font-face { 
    font-family: gilroy; 
    font-weight: bold; 
    src: url('../assets/fonts/Gilroy-ExtraBold.otf'); 
} 
body {
    font-family: gilroy;
    background-color: rgb(45, 45, 45);
}
.row>* {
    padding-right: 0;
    padding-left: 0;
}
header {
    min-height: 100vh;
    position: relative;
}
/* NAV */
#mainNav {
    padding-bottom: 1rem;
    background-color: #212529;
}
#mainNav .navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    font-family: gilroy;
    text-transform: uppercase;
    font-weight: 700;
}
#mainNav .navbar-brand {
    color: white;
    font-family: gilroy;
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}
#mainNav .navbar-brand img {
    height: 1.5rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
#mainNav .navbar-nav .nav-item .nav-link {
    font-family: gilroy;
    font-weight: bold;
    font-size: 0.95rem;
    letter-spacing: 0.0625em;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgb(254,96,96);
}



@media only screen and (min-width: 992px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
        font-size: 2rem;
        transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
        height: 2rem;
        transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        background-color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.5rem;
    }
    #mainNav.navbar-shrink .navbar-brand svg,
    #mainNav.navbar-shrink .navbar-brand img {
        height: 1.5rem;
    }
    #mainNav .navbar-nav .nav-item {
        margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }
}
.navbar-collapse {
    text-align: center;
}
.navbar-brand p{
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    transition-property: transform;
    transition-duration: 0.2s;
}
.navbar-brand p:hover {
    transform: scale(1.1);
}
.nav-item .nav-link {
    transition-property: transform;
    transition-duration: 0.2s;
}
.nav-item .nav-link:hover {
    transform: scale(1.1);
}
/* FIN NAV */
/* Generales */
h1, h2, h3, h4 {
    color: white;
    font-weight: bold;
}
p {
    color: white;
}
.boton__header, .btn-danger {
    font-weight: bold;
}
    /* video home */
.video__header video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}
.texto__principal{
    position: absolute;
    height: 100vh;
    width: 100vw;
}
.texto__principal--centrado {
    text-align: center;
}
.boton__header {
    padding-top: 20px;
}
.boton__header, .btn-danger {
    transition-property: transform;
    transition-duration: 0.2s;
}
.boton__header .btn-danger:hover {
    transform: scale(1.1);
}
.fondo__negro {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.4;
}
.objetivos__fondo {
    background: rgb(45,45,45);
    background: linear-gradient(0deg, rgba(45,45,45,1) 75%, rgb(32, 32, 32) 100%);
}
.objetivos__icono {
    color: white;
}
.objetivos__texto--grande span {
    color: rgb(254,96,96);
}
.servicios--color {
    background-color: rgb(34, 34, 34);
}
.servicios__col--color {
    background-color: rgb(46,39,130);
}
/* Fin generales */
/* Vista Mobile */
@media only screen and (min-width:0px) and (max-width:767px) {
    header {
        min-height: 23.5rem;
    }
    .video__header video {
        width: 150%;
        top: 15rem;
    }
    .texto__principal {
        height: 30rem;
    }
    .h1__header {
        font-size: 1rem;
    }
    .h2__header {
        font-size: 1.25rem;
    }
    .boton__header {
        padding-top: 10px;
    }
    .btn-group-lg>.btn, .btn-lg {
        font-size: 0.8rem;
        padding: 5px;
    }
    .objetivos__fondo {
        margin-bottom: 3.125rem;
    }
    .objetivos__icono {
        font-size: 4rem;
        padding-bottom: 1.5rem;
    }
    .objetivos__texto--grande {
        font-size: 2rem;
        font-weight: bold;
    }
    .linea {
        border-top: 1px solid white;
        padding: 1rem;
        width: 80vw;
        transform: translate(2.188rem, 0rem);
    }
    .servicios {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .servicios__titulo {
        font-size: 2.5rem;
        margin-right: 2rem;
    }
    .servicios__icono {
        font-size: 3rem;
        color: white;
    }
    .servicios__texto {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .servicios__col--color {
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }
}
/* vista entre desktop y mobile */
@media only screen and (min-width:768px) and (max-width:1239px){
    header {
        min-height: 33.5rem;
    }
    p {
        font-size: 1.2rem;
    }
    .video__header video {
        width: 105%;
        top: 20rem;
    }
    .texto__principal {
        padding-bottom: 300px;
    }
    .h1__header {
        font-size: 2rem;
    }
    .h2__header {
        font-size: 2.5rem;
    }
    .objetivos__icono {
        font-size: 5rem;
        padding-bottom: 1.5rem;
    }
    .objetivos__texto--grande {
        font-size: 1.48rem;
        font-weight: bold;
    }
    .servicios {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .servicios__titulo {
        font-size: 2.5rem;
        margin-right: 2rem;
    }
    .servicios__icono {
        font-size: 3rem;
        color: white;
    }
    .servicios__texto {
        font-size: 2rem;
        font-weight: bold;
    }
    .servicios__boton {
        font-size: 1.5rem
    }
    .servicios__img {
        width: 100%;
    }
    .servicios__col--color {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
/*vista desktop */
@media only screen and (min-width:1240px){
    p {
        font-size: 1.2rem;
    }
    .h1__header {
        font-size: 3rem;
    }
    .h2__header {
        font-size: 3.5rem;
    }
    .objetivos__fondo {
        height: 25rem;
    }
    .objetivos__icono {
        font-size: 6.5rem;
        padding-bottom: 1.5rem;
    }
    .objetivos__texto--grande {
        font-size: 2.5rem;
        font-weight: bold;
    }
    .linea {
        border-right: 1px solid white;
        height: 200px;
        padding: 0;
        transform: translateY(-220px);
    }
    .servicios {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .servicios--color {
        padding-bottom: 5rem;
    }
    .servicios__row {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .servicios__titulo {
        font-size: 3rem;
        margin-right: 6rem;
    }
    .servicios__icono {
        font-size: 3.5rem;
        color: white;
    }
    .servicios__texto {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .servicios__boton:hover {
        background-color: rgb(33, 25, 129);
        border-color: rgb(28, 21, 105);
        transform: scale(1.1);
    }
    .servicios__col--color {
        padding-top: 13rem;
    }
    .footer__logo {
        display: flex;
        justify-content: center;
    }
    .footer__logo__txt {
        font-size: 3.5rem;
        font-weight: bold;
        transition-property: transform;
        transition-duration: 0.5s;
    }
    .footer__logo__txt:hover {
        transform: scale(1.1);
    }
    .footer__logo__txt a {
        text-decoration: none;
        color: white;
    }
    .footer__logo__txt a:hover {
        color: rgb(226, 226, 226);
    }
}